<!DOCTYPE html>
<html >

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SpringBoot示例 - 登录</title>
##    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/resources/css/style.min.css" />
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name" style="margin-left: -12%;">Dusty</h1>
            </div>
            <h3>即将进入 <b>风尘博客</b></h3>
            <form id="loginForm" class="m-t" method="post"  action="/user/toLogin" onsubmit="return login()">
                <div class="form-group">
                    <input id="userName" type="text" name="userName" class="form-control input-lg" placeholder="用户名" required=""/>
                </div>
                <div class="form-group">
                    <input id="password" type="password" name="password" class="form-control input-lg" placeholder="密码" required=""/>
                </div>
                <input type="submit" class="btn btn-primary block full-width m-b input-lg" value="登录">
                <p class="text-muted text-center">
                    <a href="#"><small>忘记密码了？</small></a> | <a href="./register">注册一个新账号</a>
                </p>
            </form>
        </div>
    </div>
    <script src="/resources/js/jquery.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>
    <script src="/resources/js/Jquery-form.js"></script>
    <script>
        $(function(){
            /** 验证是否登录成功  */
            $("#loginForm").ajaxForm(function(data){
                if(data.code=="200"){
                    alert("登录成功！");
                    window.location.replace("https://www.dustyblog.cn") ;
                }else {
                    alert("登录失败 :" + data.error );
                }
            });
        });

    </script>
</body>
</html>