<div class="bottom_copyright footer" style="display: inline-block;background-image: url(/template/front/images/sy_bottom_background2.png);background-size: 100% 51px">
    <div class="copyright-l">
        <img src="/template/front/images/logo02.png" style="display:inline;width: 74px;height: 20px;padding-top: 5px">
    </div>

    <div style="float:left;height: 41px;margin-left: 5px">
        <p style="line-height: 41px;font-size: 12px">银基国际旅游度假区  4000-178-178</p>
    </div>
    <div style="position: absolute;right: 0px;top: 0px;width: 30%;height: 51px;" href="javascript:void(0);" class="cd-popup-trigger">
    </div>
    <!--<div class="copyright-m" style="float: right;">-->
    <!--<img src="/template/front/images/sy_bottom_background.png" style="height: 46px;width: 116px;height: 51px">-->
    <!--</div>-->
</div>


<div class="cdx-popup footer" role="alert">
    <div class="cdx-popup-cont">
        <p>长按二维码，关注公众号</p>
        <img src="/template/front/images/qrcode_YJJTXYSJ_1.jpg" class="ewm">
        <a class="cdx-popup-close" href="javascript:viod(0)"></a>
    </div>
</div>
<style>
    .footer {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 40px;
        background-color: #ffffff;
        z-index: 9999;
    }

    .bottom_copyright{background:white;;font-size:.6rem;padding-top:5px;line-height:20px;padding-bottom:5px;border-top:1px solid #dedede;width:100%;}
    .bottom_copyright:after{clear:both;display:block;content: " ";height:0px; line-height:0px;overflow:hidden;}
    .bottom_copyright .copyright-l{float:left;padding-left:15px;width:75px;padding-top: 5px}
    .bottom_copyright .copyright-m{float:right;padding-right:0px;padding-top:0px; text-align:right}

</style>
<script type="text/javascript" src="/template/front/js/sli.js"></script>


