<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.van.transaction.demo.mapper.UserInfoMapper">

  <delete id="deleteUser">
    delete from user
    where id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteUserInfo">
    delete from user_info_1
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

</mapper>